<!DOCTYPE html> {% extends 'basic.html' %} {% load static %}
<html lang="en">
{% block body %}
<h2>Reset Password</h2>
<form method="POST">
    {% csrf_token %}
    <div>
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
    </div>
    <button type="submit">Reset Password</button>
</form>
{% endblock %}
<!--============================
=            Footer            =
=============================-->

{% block footer %} {% endblock %}
<!-- 
Essential Scripts
=====================================-->
{% block script %}
<!-- Your additional JavaScript code goes here -->
{% endblock %}

</body>

</html>