<!DOCTYPE html> {% extends 'basic.html' %} {% load static %}
<html lang="en">
{% block body %}

<head>
    <title>Verify Community Member</title>
</head>

<body>
    <h1>Verify Community Member</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="submit" value="Verify">
    </form>
</body>{% endblock %} {% block footer %} {% endblock %}
<!-- 
Essential Scripts
=====================================-->
{% block script %}
<!-- Your additional JavaScript code goes here -->
{% endblock %}

</body>

</html>

</html>